body {
  background-color: #9f9da7;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: black;
}


#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* h2 {
  font-weight: 600;
  text-align: center;
  color: #3ce270;
  
}

a,
a:link,
a:visited,
a:active {
  color: #3ce270;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
  color: #3ce270;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.login-form-container {
  background-color: #ffffff;
  width: 100%;
  max-width: 500px;
  height: 550px;
  margin: 100px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 20px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

.login-form {
  padding: 5px 60px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 15px;
}

input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 10px 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #3ce270;
}

img {
  width: 80px;
}

.btn-login {
  border: none;
  display: block;
  background-color: #3ce270;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
}
.btn-login:hover {
  background-color: #05bd3f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
} */